.main-section{
    display: flex;
    justify-content: space-evenly
}
.logo img{
    border-radius: 20px;
    width: fit-content;
   
}
.topcard-layout{
    margin-bottom: 50px;
    padding: 20px;
    margin: 20px;
    width: 70%;
    margin-left: 16%;
    display: flex;
    justify-content: space-evenly;
}
